.iconos {
    color: white;
}

ion-menu::part(container) {
    border-radius: 20px 0px 0px 20px;
}

ion-item {
    --background: #FBFBE4;
}
ion-menu {
    z-index: 1; /* Asegúrate de que el menú tenga un z-index menor */
}

#main-content {
    z-index: 2; /* Asegúrate de que el contenido tenga un z-index mayor */
}
