<ion-header>
  <ion-toolbar>
    <ion-title>Toma una Foto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- Usa ion-col para mostrar varias imágenes por fila -->
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let photo of photoService.photos">
        <div class="image-container">
          <ion-img [src]="photo.urlImagen"></ion-img>
          <ion-icon name="close-circle-outline" (click)="eliminarFoto(photo.rutaFirebase)" class="delete-button" size="large"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" class="contenedor-btn">
    <ion-button shape="round" (click)="sacarFoto()" class="btn-agregar">
      Tomar foto
    </ion-button>
  </ion-fab>
</ion-content>




