<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1" class="iconos">
        </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <h1 class="titulos">Nuevo Avistamiento </h1>
  </div>  
  
  <div class="inputs">
  <ion-input 
  label="Nombre" 
  label-placement="floating" 
  fill="outline" 
  placeholder="Nombre lista"  
  [(ngModel)]="avistamiento.nombre"></ion-input>
  <br>

  <ion-input 
  label="Fecha"
  label-placement="floating"
    fill="outline"
    [value]="fechaSeleccionada | date:'dd/MM/yyyy'" 
    (click)="abrirCalendario()" 
    readonly 
    placeholder="Fecha seleccionada"
    [(ngModel)]="avistamiento.fecha">
  </ion-input>

    <!-- ion-datetime oculto inicialmente -->
    <ion-modal [isOpen]="mostrarCalendario" (willDismiss)="cerrarCalendario()" class="tamanio">
      <ng-template>
        <ion-datetime
          id="datetime"
          presentation="date"
          (ionChange)="elegirFecha($event)">
        </ion-datetime>
      </ng-template>
    </ion-modal>

    <br>
  <ion-input 
  label="Descripción" 
  label-placement="floating" 
  fill="outline" 
  placeholder="Breve descripción"
  [(ngModel)]="avistamiento.descripcion">
  </ion-input> 
  
  </div>

  <!-- Muestra la imagen seleccionada -->
  <div *ngIf="imagenSeleccionada" class="imagen-seleccionada">
    <img [src]="imagenSeleccionada" alt="Imagen seleccionada" style="width: 70%; height: auto;" />
  </div>

  <div class="contenedor-btn"> 
    <ion-button shape="round" class="btn-agregar" (click)="irAPhotoPage()" >
      seleccionar imagen
    </ion-button>
  </div>

  <div class="contenedor-btn"> 
    <ion-button shape="round" class="btn-agregar" (click)="guardarAvistamiento()" >
      Guardar Avistamiento
    </ion-button>
  </div>
</ion-content>
