<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>agregar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1" color="tertiary">
        </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">agregar</ion-title>
    </ion-toolbar>
  </ion-header>

  
  
  <ion-input label="Outline input" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      <br>
      <ion-label>Seleccionar fecha</ion-label>
      <ion-item>  
        <ion-datetime
          displayFormat="YYYY-MM-DD"
          [(ngModel)]="selectedDate"
          (ionChange)="guardarFecha($event)"
          cancelText="Cancelar"
          doneText="Aceptar">
        </ion-datetime>
      </ion-item>
    
      <!-- Mostrar la fecha seleccionada 
      <p *ngIf="selectedDate">Fecha seleccionada: {{ selectedDate }}</p>-->
    <br>
  <ion-input label="Outline input" label-placement="floating" fill="outline" placeholder="Enter text">
  </ion-input>

  <div class="contenedor-btn">
    <ion-button shape="round" class="btn-agregar" >
      seleccionar imagen
    </ion-button>
  </div>
</ion-content>
