<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>agregar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1" color="tertiary">
        </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">agregar</ion-title>
    </ion-toolbar>
  </ion-header>

  
  
  <ion-input label="Nombre" label-placement="floating" fill="outline" placeholder="Nombre lista"></ion-input>
  <br>

  <ion-input 
  label="Fecha"
  label-placement="floating"
    fill="outline"
    [value]="fechaSeleccionada | date:'dd/MM/yyyy'" 
    (click)="abrirCalendario()" 
    readonly 
    placeholder="Fecha seleccionada">
  </ion-input>

    <!-- ion-datetime oculto inicialmente -->
    <ion-modal [isOpen]="mostrarCalendario" (willDismiss)="cerrarCalendario()" class="tamanio">
      <ng-template>
        <ion-datetime
          id="datetime"
          presentation="date"
          (ionChange)="elegirFecha($event)">
        </ion-datetime>
      </ng-template>
    </ion-modal>

    <br>
  <ion-input label="Descripción" label-placement="floating" fill="outline" placeholder="Breve descripción">
  </ion-input>  


  
  

  

  <div class="contenedor-btn">
    <ion-button shape="round" class="btn-agregar" >
      seleccionar imagen
    </ion-button>
  </div>
</ion-content>
