<ion-content [fullscreen]="true" class="content">

  <div>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
  </div>

  <div class="contenedor">
    <ion-img class="logoAve" src= "assets/img/logoAves.png" alt="logoAves"></ion-img>
    <h3 class="tit-login"> Registrarse</h3>

    <ion-input class="input" label="email" placeholder="fulanito@gmail.com" [(ngModel)]="email"></ion-input>

    <ion-input class="input" type="password" label="Contraseña" [(ngModel)]="password" >
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>

    <ion-button class="btn-iniciar" type="submit" (click)="registrarse()">Registrarse</ion-button>

  </div>

</ion-content>

