<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">forgot-password</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
  </div>
  <div class="contenedor">
    <ion-img class="logoAve" src= "assets/logoAves.png" alt="logoAves"></ion-img>
    <h3> Recuperar contraseña</h3>
    <p>
      Por favor, ingresá tu email. Recibirás un link para reestablecer tu
      contraseña.
    </p>

    <ion-input class="input" label="Email" placeholder="fulanito@gmail.com" [(ngModel)]="email"></ion-input>

    <ion-button class="btn-iniciar" (click)="recuperarContra()">Enviar</ion-button>


  </div>

</ion-content>
