<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="contenedor-bienvenida">
    <h1 class="titulos">Hola {{nombreUsuario}}!</h1>
    <h2>Compartidos</h2>
  </div>
  
  <ion-list>
    <ion-item *ngFor="let avistamiento of avistamientos">
      <ion-thumbnail slot="start">
        <img [src]="avistamiento.imagen">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ avistamiento.nombre }}</h2>
        <p> Compartido por: {{ avistamiento.nombreUser }}</p>
        <p>{{ avistamiento.fecha }}</p>
        <p>{{ avistamiento.descripcion }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="avistamientos.length === 0">
    <ion-label>
      <h2>No se encontraron avistamientos.</h2>
    </ion-label>
  </ion-item>

  <ion-refresher slot="fixed" (ionRefresh)="cargarAvistamientos($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="contenedor-btn">
    <ion-button shape="round" (click)="agregar()" class="btn-agregar">
      Agregar avistamiento
    </ion-button>
  </div>
</ion-content>
